[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/vim-scripts/pathogen.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/conque-shell"]
	path = bundle/conque-shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/vim-latex-repo"]
	path = bundle/vim-latex-repo
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/mexpolk/vim-taglist.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/vim-scripts/ack.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "bundle/vim-faq"]
	path = bundle/vim-faq
	url = https://github.com/vim-scripts/vim_faq.git
[submodule "bundle/cute-python"]
	path = bundle/cute-python
	url = https://github.com/ehamberg/vim-cute-python.git
